<div>
    <div class="flex items-center justify-center md:justify-between flex-col md:flex-row mb-6">
        <div>
            <h3 class="text-lg font-bold text-blue-600">My Addresses</h3>
            <p class="text-red-500 text-sm mt-1">Manage your saved delivery addresses</p>
        </div>
        <button class="inline-flex items-center gap-2 px-5 py-2.5 rounded-xl bg-red-500
       text-white font-semibold hover:bg-red-700 transition-colors shadow-lg 
        shadow-red-800/25 text-base cursor-pointer" (click)="formShow(form)">
        <i class="fa-solid fa-plus"></i>
        Add Address</button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      @for (item of addresses(); track item._id) {
        <div class="bg-white rounded-xl border-2 border-red-500 p-5 shadow-md shadow-red-700
        hover:shadow-red-900 hover:border-red-600 transition-all duration-300 group">
          <div class="flex items-start gap-4 justify-between">
            <div class="flex items-start gap-4 flex-1">
                <div class="size-13 rounded-xl bg-red-50 flex items-center justify-center shrink-0
                group-hover:bg-red-100 transition-colors text-sm text-red-500">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="flex-1 min-w-0">
                    <h4 class="font-bold text-red-500 mb-1 
                    text-base">{{item.name}}</h4>
                    <p class="font-bold text-sm mb-3 line-clamp-2
                    text-red-300">{{item.details}}</p>
                    <div class="flex flex-wrap items-center gap-4 text-lg text-red-300">
                        <span class="flex items-center gap-1.5 text-sm">
                            <i class="fa-solid fa-phone"></i>
                            {{item.phone}}
                        </span>
                        <span class="flex items-center gap-1.5 text-sm">
                           <i class="fa-solid fa-city"></i>
                            {{item.city}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-2">
                <button class="size-11 rounded-lg bg-red-100 text-red-500 hover:bg-red-200
                hover:text-red-600 flex items-center justify-center transition-colors text-sm 
                cursor-pointer"
                title="Edit address" (click)="editAddress(item);
                formShow(form)"><i class="fa-solid fa-pen"></i></button>
                <button class="size-11 rounded-lg bg-red-100 text-red-500 hover:bg-red-200
                hover:text-red-600 flex items-center justify-center transition-colors text-sm
                cursor-pointer" 
                title="Delete address" (click)="deleteAddress(item._id)">
                <i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
      }@empty {
        <div class="bg-white rounded-2xl border-2 border-red-100 p-12 text-center col-span-12">
            <div class="size-20 rounded-full bg-red-100 flex items-center justify-center mx-auto
            mb-5 text-xl text-red-500"><i class="fa-solid fa-location-dot"></i></div>
            <h3 class="text-base font-bold text-red-300 mb-2">No Addresses Yet</h3>
            <p class="text-sm text-blue-600 mb-6 max-w-sm mx-auto">Add your first delivery address to 
                make checkout faster and easier.</p>
            <button class="inline-flex items-center gap-2 px-6 py-3 rounded-xl bg-red-500
            text-white font-semibold hover:bg-red-700 transition-colors shadow-lg
            shadow-red-600/25 text-base cursor-pointer" (click)="formShow(form)">
            <i class="fa-solid fa-plus"></i>
            Add Your First Address
            </button>
        </div>
      }
    </div>
    <button class="flex-1 py-3 px-6 my-7 rounded-xl bg-blue-600 text-white font-semibold
                hover:bg-blue-700 transition-colors text-base cursor-pointer
                disabled:opacity-50" type="button" (click)="clearAllAddresses()"
                [disabled]="addresses().length == 0">Clear All</button>
    <div class="fixed inset-0 z-[999] flex items-center justify-center p-4 hidden"
    #form>
        <div class="absolute inset-0 bg-red-500/50 backdrop-blur-sm"></div>
        <div class="bg-red-100 relative rounded-3xl shadow-2xl shadow-red-500 w-full max-w-lg
        p-6 sm:p-8 duration-200">
           <div class="flex items-center justify-between mb-6">
            <h3 class="text-xl font-bold text-blue-600">Add New Address</h3>
            <button class="size-12 rounded-lg bg-red-500 text-white hover:bg-red-600 flex
            items-center justify-center transition-colors text-xl cursor-pointer" 
            (click)="formHide(form)">
               <i class="fa-solid fa-xmark"></i>
            </button>
           </div>
           <form class="space-y-5" [formGroup]="addressForm" (ngSubmit)="editingId() ? saveAddress()
           : addUserAddress()">
            <div>
                <label for="name" class="block text-base font-medium text-blue-600 mb-2">
                    Address Name
                </label>
                <input type="text" id="name" name="name" formControlName="name" 
                class="w-full px-4 py-3 rounded-xl border-2 border-red-500
                focus:border-red-700 focus:ring-2 focus:ring-red-500/20 outline-none transition-all
                text-base" 
                required placeholder="e.g. Home, Office">
            </div>
            <div>
                <label for="details" class="block text-base font-medium text-blue-600 mb-2">
                    Full Address
                </label>
                <textarea id="details" name="details" formControlName="details" 
                cols="3" class="w-full px-4 py-3 rounded-xl border-2 border-red-500
                focus:border-red-700 focus:ring-2 focus:ring-red-500/20 outline-none transition-all
                text-base resize-none"
                required placeholder="Street, building, apartment..."></textarea>
            </div>
            <div class="grid grid-cols-2 gap-4">
              <div>
                <label for="phone" class="block text-base font-medium text-blue-600 mb-2">
                    Phone Number
                </label>
                <input type="tel" id="phone" name="phone" formControlName="phone" 
                class="w-full px-4 py-3 rounded-xl border-2 border-red-500
                focus:border-red-700 focus:ring-2 focus:ring-red-500/20 outline-none transition-all
                text-base" 
                required placeholder="01xxxxxxxxx">
              </div>
              <div>
                <label for="city" class="block text-base font-medium text-blue-600 mb-2">
                    City
                </label>
                <input type="text" id="city" name="city" formControlName="city" 
                class="w-full px-4 py-3 rounded-xl border-2 border-red-500
                focus:border-red-700 focus:ring-2 focus:ring-red-500/20 outline-none transition-all
                text-base" 
                required placeholder="Cairo">
               </div>
            </div>
            <div class="flex items-center flex-col md:flex-row gap-3 pt-4">
                <button class="flex-1 py-3 px-6 rounded-xl bg-blue-600 text-white font-semibold
                hover:bg-blue-700 transition-colors text-base cursor-pointer" type="button"
                (click)="formHide(form)">
                Cancel</button>
                <button class="flex-1 py-3 px-6 rounded-xl bg-red-600 text-white font-semibold
                hover:bg-red-700 transition-colors text-base disabled:opacity-50 shadow-lg
                 shadow-red-700/25 cursor-pointer" type="submit" (click)="formHide(form)"
                  [disabled]="addressForm.invalid"
                 >{{editingId() ? 'Update Address' : 'Add Address'}}</button>
            </div>
           </form>
        </div>
    </div>
</div>