<app-navbar></app-navbar>
<main class="min-h-screen bg-red-300">
  <aside class="bg-linear-to-br from-red-400 via-red-500 to-red-600 text-white">
        <section class="container mx-auto px-4 py-10 sm:py-14">
            <div class="flex items-center gap-2 text-xl text-white mb-6 flex-wrap">
                <a href="/" class="text-red-300 hover:text-red-200 transition-colors duration-200">
                    Home
                </a>
                <span class="text-red-100">/</span>
                <span class="font-medium">All Products</span>
                <span class="text-red-100">/</span>
                <span class="font-medium text-white">{{categoryDetail()?.name}}</span>
            </div>
            <div class="flex items-center gap-5">
                <div class="size-16 rounded-2xl bg-white text-red-500 backdrop-blur-sm flex
                justify-center items-center shadow-xl ring-8 ring-red-300 text-4xl
                outline-4 outline-offset-12 outline-red-200 overflow-hidden">
                   <img [src]="categoryDetail()?.image" [alt]="categoryDetail()?.name"
                   class="size-12 object-contain">
                </div>
                <div class="text-white">
                    <h2 class="text-5xl font-bold tracking-tight">{{categoryDetail()?.name}}</h2>
                    <p class="text-red-300 mt-1 text-xl">Choose a subcategory to browse products</p>
                </div>
            </div>
        </section>
    </aside>
    <aside class="container mx-auto">
      @if (isAnimation) {
            <div class="relative min-h-[500px]">
               <i class="fa-solid fa-spinner fa-spin absolute top-1/2 start-1/2 -traslate-x-1/2 
                -translate-y-1/2 text-5xl text-red-500"></i>
            </div>
      }
      <section class="px-4 py-10">
        <a routerLink="/categories" class="inline-flex items-center gap-2 text-red-500
         hover:text-red-700 transition-colors mb-6 text-2xl">
         <i class="fa-solid fa-arrow-left"></i>
         <span>Back to Categories</span>
        </a>
        <div class="mb-6">
          <h2 class="text-blue-800 text-xl font-bold">
            {{subCategories().length}}  Subcategories in  {{categoryDetail()?.name}}
          </h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4
        sm:gap-6">
          @for (item of subCategories(); track item._id) {
            <div class="group bg-white rounded-2xl border-2 border-red-500 p-6 shadow-md
            hover:shadow-xl hover:shadow-red-500 hover:border-red-700 transition-all
            duration-300 hover:-translate-y-1 cursor-pointer" [routerLink]="['/products/subcategory' 
            , item._id]">
              <div class="size-14 rounded-xl bg-red-300 flex items-center justify-center mb-4
              group-hover:bg-red-200 transition-colors text-2xl text-red-500">
                 <i class="fa-solid fa-folder-open"></i>
              </div>
              <h3 class="font-bold text-red-500 text-xl group-hover:text-red-700 transition-colors
              mb-2">{{item.name}}</h3>
              <div class="flex items-center justify-center gap-2 text-lg text-blue-500 opacity-0
              group-hover:opacity-100 transition-opacity">
                <span>Browse Products</span>
                <i class="fa-solid fa-arrow-right"></i>
              </div>
            </div>
          }@empty {
            <div class="flex justify-center flex-col gap-3 col-span-4">
              <div class="text-center">
                <div class="size-20 rounded-full bg-red-500 text-white flex items-center
                justify-center mb-5 text-4xl mx-auto"> 
                   <i class="fa-solid fa-box-open"></i>
                </div>
                <h3 class="text-3xl font-bold text-red-500 mb-2">No Subcategories Found</h3>
                <p class="text-gray-900 mb-6 text-xl">
                  No subcategories match your current filters.
                </p>
                <a href="/" class="inline-flex items-center gap-2 px-6 py-3 rounded-xl bg-red-500
                font-semibold hover:bg-red-700 transition-colors text-2xl text-white">Back To Home</a>
              </div>
            </div>
          } 
        </div>
      </section>
    </aside>
</main>
<app-newsletter></app-newsletter>
<app-footer></app-footer>