<section class="bg-red-100 border-y-2 border-red-300">
  <div class="container mx-auto px-4 py-6">
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="flex items-center gap-3 bg-red-300 p-2 rounded-xl border-2 border-red-500 
      shadow-2xl shadow-red-800">
        <div class="size-12 rounded-xl bg-red-200 flex items-center justify-center shrink-0
         text-red-500 text-xl">
            <i class="fa-solid fa-truck"></i>
         </div>
         <div>
          <h3 class="font-semibold text-red-500 text-lg">Free Shipping</h3>
          <p class="text-black text-lg">On orders over 500 EGP</p>
         </div>
      </div>
      <div class="flex items-center gap-3 bg-red-300 p-2 rounded-xl border-2 border-red-500 
      shadow-2xl shadow-red-800">
        <div class="size-12 rounded-xl bg-red-200 flex items-center justify-center shrink-0
         text-red-500 text-xl">
            <i class="fa-solid fa-arrow-rotate-left"></i>
         </div>
         <div>
          <h3 class="font-semibold text-red-500 text-lg">Easy Returns</h3>
          <p class="text-black text-lg">14-day return policy</p>
         </div>
      </div>
      <div class="flex items-center gap-3 bg-red-300 p-2 rounded-xl border-2 border-red-500 
      shadow-2xl shadow-red-800">
        <div class="size-12 rounded-xl bg-red-200 flex items-center justify-center shrink-0
         text-red-500 text-xl">
            <i class="fa-solid fa-shield-halved"></i>
         </div>
         <div>
          <h3 class="font-semibold text-red-500 text-lg">Secure Payment</h3>
          <p class="text-black text-lg">100% secure checkout</p>
         </div>
      </div>
      <div class="flex items-center gap-3 bg-red-300 p-2 rounded-xl border-2 border-red-500 
      shadow-2xl shadow-red-800">
        <div class="size-12 rounded-xl bg-red-200 flex items-center justify-center shrink-0
         text-red-500 text-xl">
            <i class="fa-solid fa-headset"></i>
         </div>
         <div>
          <h3 class="font-semibold text-red-500 text-lg">24/7 Support</h3>
          <p class="text-black text-lg">Contact us anytime</p>
         </div>
      </div>
    </div>
  </div>
</section>